<div class="conteiner mat-elevation-z8">
    <h1 class="full-width">Edição de Chamado</h1>
    <img src="assets/img/chamado-create.svg" alt="Chamado Image" class="full-width">

    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Título do Chamado</mat-label>
            <input
                [(ngModel)]="chamado.titulo"
                name="titulo"
                [formControl]="titulo"
                required
                matInput
                placeholder="Ex. Trocar bateria do Notebook">
        </mat-form-field>
    </form>
    <div class="status-prioridade">
        <mat-form-field appearance="outline">
            <mat-label>Selecione um Status</mat-label>
            <mat-select [formControl]="status" required [(ngModel)]="chamado.status" name="status">
                <mat-option value="0">Aberto</mat-option>
                <mat-option value="1">Andamento</mat-option>
                <mat-option value="2">Encerrado</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Selecione uma Prioridade</mat-label>
            <mat-select [formControl]="prioridade" required [(ngModel)]="chamado.prioridade" name="status">
                <mat-option value="0">Baixa</mat-option>
                <mat-option value="1">Média</mat-option>
                <mat-option value="2">Alta</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="tecnico">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Selecione um Técnico</mat-label>
            <mat-select [formControl]="tecnico" required required [(ngModel)]="chamado.tecnico" name="tecnico">
                <mat-option *ngFor="let tec of tecnicos" value="{{ tec.id }}">{{ tec.nome }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="cliente">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Selecione um Cliente</mat-label>
            <mat-select [formControl]="cliente" required required [(ngModel)]="chamado.cliente" name="cliente">
                <mat-option *ngFor="let cli of clientes" value="{{ cli.id }}">{{ cli.nome }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <form class="form" >
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Deixe uma Descrição</mat-label>
          <textarea required [(ngModel)]="chamado.observacoes" name="observacoes" [formControl]="observacoes" required class="observacoes" matInput placeholder="Ex. Trocar bateria de Notebook queimada"></textarea>
        </mat-form-field>
      </form>
      <button [disabled]="!validadeCampos()" (click)="create()" class="full-width mat-elevation-z8" mat-raised-button color="primary">Salvar</button>
      <button routerLink="../" class="full-width mat-elevation-z8" mat-stroked-button color="warn">Cancelar</button>

      <p class="full-width">desenvolvido por Kennedy Oliveira</p>
</div>