<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="assets/img/side-image.svg" alt="Imagem de navegação">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>
                <a class="sidenavitem">Home</a>
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">account_circle</i>
                <a class="sidenavitem">Técnicos</a>
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">person</i>
                <a class="sidenavitem">Cliente</a>
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">code</i>
                <a class="sidenavitem">GitHub</a>
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">logout</i>
                <a class="sidenavitem">Logout</a>
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>