<div class="conteiner mat-elevation-z8">
    <form class="form">
        <h1 class="fulllWidth">Cadastrar Técnico</h1>
        <img class="fulllWidth" src="/assets/img/tecnico-create.svg" alt="Help Desk - Dicas de um DEV">

        <section class="section">
            <mat-checkbox class="margin" (click)="addPerfil(0)" color="primary">Admin</mat-checkbox>
            <mat-checkbox class="margin" (click)="addPerfil(1)" color="primary">Cliente</mat-checkbox>
            <mat-checkbox class="margin" (click)="addPerfil(2)" color="primary">Técnico</mat-checkbox>
        </section>

        <mat-form-field class="fulllWidth" appearance="fill">
            <mat-label>Nome</mat-label>
            <input
                [formControl]="nome"
                [(ngModel)]="tecnico.nome"
                name="nome"
                matInput
                placeholder="Ex.. Fulado de Tal"
                maxlength="50">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field class="fulllWidth" appearance="fill">
            <mat-label>CPF</mat-label>
            <input
                [formControl]="cpf"
                [(ngModel)]="tecnico.cpf"
                name="cpf"
                matInput
                mask="000.000.000-00"
                placeholder="Ex. 000.000.000-00">
            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="fulllWidth" appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input
                [formControl]="email"
                [(ngModel)]="tecnico.email"
                name="email"
                matInput
                placeholder="fulado@mail.com">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="fulllWidth" appearance="fill">
            <mat-label>Senha</mat-label>
            <input
                [formControl]="senha"
                [(ngModel)]="tecnico.senha"
                name="senha"
                type="password"
                matInput
                placeholder="Ex.. 1234">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <button [disabled]="!validacampos()" (click)="create()" mat-flat-button color="primary" class="fulllWidth mat-elevation-z4">Cadastrar</button>
        <button routerLink="../" mat-stroked-button color="warn" class="fulllWidth mat-elevation-z4">Cancelar</button>
    </form>

    <P class="fulllWidth">by Kennedy Oliveira</P>
</div>